extends layouts/main

block content
    .form-container
        form(action=`/users${routes.userDetail}` method='post')
            label(for='photo')
            input(type='file', name='photo', id='file')
            input(type='email', name='email', placeholder='Email')
            input(type='text', name='name', placeholder='Name')
            inpur(type='submit', value='Edit Profile')